body {
font-family: Arial, sans-serif;
font-size: 16px;
}

.container {
margin: 0 auto;
width: 80%;
}

body {
background-color: #f2f2f2;
}

h1 {
color: #333;
background-color: #fff;
}

img {
border: 1px solid #ddd;
}

a {
color: ##0066cc;
background-color: transparent;
}
